html, body {
  height: 100%;
}

@layer base {
  body {
    @apply text-gray-700;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
}

@layer components {
  .nav--main {
    ul {
      li {
        @apply uppercase
      }
      li a {
        display: inline-block;
        position: relative;
        z-index: 1;
      }
      li a {
        @apply text-gray-50 hover:text-pink-400
      }

      li:not(:last-of-type) {
        @apply mr-8
      }
    }
  }
}

.heading {
  @apply text-5xl py-6
}

.card {
  @apply p-12 rounded-2xl
}
