html {
  height: 100%;
}

@layer base {
  body {
    @apply text-gray-700;
  }

  h1 {
    @apply text-5xl;
  }
  h2 {
    @apply text-4xl;
  }
}

@layer components {
  .nav--main {
    ul {
      li {
        @apply uppercase;
      }
      li a {
        display: inline-block;
        position: relative;
        z-index: 1;
      }
      li a {
        @apply text-gray-50 hover:text-pink-400;
      }

      li:not(:last-of-type) {
        @apply mr-8;
      }
    }
  }

  .min-h-25 {
    min-height: 25vh;
  }
  .min-h-33 {
    min-height: 33vh;
  }
  .min-h-50 {
    min-height: 50vh;
  }
  .min-h-66 {
    min-height: 66vh;
  }
  .min-h-75 {
    min-height: 75vh;
  }

  .card--featured {
    @apply card lg:w-1/2 md:w-2/3;
  }
  .card__header {
    @apply p-3;
  }
}

.heading {
  @apply text-5xl py-6;
}

.card {
  @apply p-6 md:p-12 rounded-2xl;
}
